.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top_padding{
  padding-top: 30px;
}

FOOTER {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(236, 112, 99 );
  color: white;
  text-align: center;
  font: {
    family: 'nanumpen';
    size: middle;
  }
  
}