.main_page {
    width: 100%;
    height: 100%;
    padding-top: 50px;

    font-family: "nanumpen";

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #A8A8A8;
    }

    .main___img {
        width: 80vw;
        box-shadow: 0px 0px 10px 5px #FFF;
    }

    .main_plan {
        margin-top: 50px;
        font-size: large;
        color: #A8A8A8;
    }
}